@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anonymous Pro", monospace;
  font-weight: bold;
}
body {
  min-height: 100vh;
  background: linear-gradient(to right, #0055bb, #00bbee);
  background-size: cover;
  background-position: center;
}
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
.navbar a:hover::before {
  width: 100%;
}
.news-section {
  width: 100%;
}
.news-section .section-content {
  width: 85%;
  margin: 20px auto;
}
.news-section .section-content:after {
  content: "";
  display: table;
  clear: both;
}
.news-section .section-content .title {
  width: 60%;
  text-align: center;
  margin: auto;
}
.news-section .section-content .title h2 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}
.news-section .section-content .title p {
  font-size: 18px;
  color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
}
.news-section .section-content .cards {
  margin: 1.5em 0;
  column-gap: 1.5em; 
  font-size: 0.85em;
}
.news-section .section-content .cards .card {
  background-color: #f7f7f7;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #0055bb;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  margin: 0 0 1.5em;
  width: 100%;
  box-sizing: border-box; 
}
.news-section .section-content .cards .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.news-section .section-content .cards .card img {
  max-width: 100%;
  height: auto;
  display: block;
}
.news-section .section-content .cards .card .article {
  padding: 15px 20px;
}
.news-section .section-content .cards .card .article h4 {
  font-size: 24px;
}
.news-section .section-content .cards .card .article p {
  font-size: 18px;
  margin: 10px 0px;
}
.news-section .section-content .cards .card .button {
  text-decoration: none;
  display: inline-block;
  background-color: #00bbee;
  padding: 8px 15px;
  margin-left: 20px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}
.news-section .section-content .cards .card .button:hover {
  background-color: #0055bb;
}
.news-section .section-content .cards .card .posted-date p {
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #00bbee;
  padding: 6px 15px;
}
@media only screen and (min-width: 400px) {
  .news-section .section-content .cards {
    column-count: 1;
  }
}

@media only screen and (min-width: 700px) {
  .news-section .section-content .cards {
    column-count: 2;
  }
}

@media only screen and (min-width: 900px) {
  .news-section .section-content .cards {
    column-count: 3;
  }
}

@media only screen and (min-width: 1100px) {
  .news-section .section-content .cards {
    column-count: 4;
  }
}
.footer {
  flex: 0 0 auto;
  background-color: #f8f9fa;
  height: 80px;
  text-align: center;
}
