{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница</title>
    <meta name="description" content="Главная страница сайта 29 кафедры">
    <meta name="author" content="CHUDNIK">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}"/>
</head>

<body>
<div class="hat">
    <div class="logo">
        <p>KAF29</p>
    </div>
    <div class="navbar">
        <a href="">Новости</a>
        <a href="">Преподаватели</a>
        <a href="">Библиотека</a>
        <a href="">О кафедре</a>
    </div>
</div>
<h1 class="section">Новости</h1>
<div class="news">
    <div class="card">
        <h2>Большой заголовок 1</h2>
        <img src="/media/img/img.png" alt="image1">
        <p>Примерный текст новости бла бла бла бла</p>
    </div>
    <div class="card">
        <h2>Большой заголовок 2</h2>
        <img src="/media/img/img_1.png" alt="image1">
        <p>Примерный текст новости бла бла бла бла текст побольше</p>
    </div>
    <div class="card">
        <h2>Большой заголовок 3</h2>
        <img src="/media/img/img_2.png" alt="image1">
        <p>Примерный текст новости бла бла бла бла текст побольше</p>
    </div>
</div>
<div class="teachers"></div>
<div class="library"></div>
<div class="information"></div>
<div class="publications"></div>
<div class="graduates "></div>
<div class="partners"></div>
<div class="study"></div>
<div class="feedback"></div>
</body>
</html>
