{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Comatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Учебные материалы</title>
    <link rel="stylesheet" href="{% static 'styles/lesson.css' %}" />
  </head>
  <body>
    <header class="header">
      <a href="{% url 'index' %}" class="logo">KAF29</a>
      <nav class="navbar">
        <a href="{% url 'index' %}">Домой</a>
        <a href="{% url 'teachers' %}">Преподаватели</a>
        <a href="{% url 'lesson' %}">Учебные материалы</a>
      </nav>
    </header>
    <div class="books">
      {% for book in courses %}
      <tr>
        <div class="lesson">
          <img src="{{book.text}}" alt="Book 1"/>
          <h2>{{book.name}}</h2>
        </div>
      </tr>
      {% endfor %}
    </div>
    <div class="footer">
      <p>
        Исполняющий обязанности заведующего кафедрой - доцент Шувалов Виктор
        Борисович, тел. (495) 324-34-54, комната К-908.
      </p>
      <p>
        Заместитель заведующего кафедрой по учебной работе - старший
        преподаватель Красникова Светлана Анатольевна, тел. (495) 323-93-70.
      </p>
      <p>
        Заместитель заведующего кафедрой по научной работе - Заева Маргарита
        Анатольевна тел. (495) 323-93-69.
      </p>
      <p>
        Заведующий лабораториями - Кручинин Геннадий Михайлович, тел. (499)
        323-93-68, комната К-903, К-911.
      </p>
      <p>Секретариат - тел. (499) 323-93-68</p>
      <p>😊</p>
    </div>
  </body>
</html>
