{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Comatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Преподаватели</title>
    <link rel="stylesheet" href="{% static 'styles/teachers.css' %}"/>
</head>
<body>
<header class="header">
    <a href="{% url 'index' %}" class="logo">KAF29</a>
    <nav class="navbar">
        <a href="{% url 'index' %}">Домой</a>
        <a href="{% url 'teachers' %}">Преподаватели</a>
        <a href="{% url 'lesson' %}">Учебные материалы</a>
    </nav>
</header>
<div class="teachers-section">
    {% for teacher in teachers %}
    <tr>
        <div class="teacher-card">
            <img scr="{{teacher.photo}}">
            <h2>{{teacher.first_name}}</h2>
            <h2>{{teacher.last_name}}</h2>
            <h2>{{teacher.patronymic}}</h2>
            <p>{{teacher.description}}</p>
        </div>
    </tr>
    {% endfor %}
</div>
<div class="footer">
    <p>This is the footer</p>
</div>
</body>
</html>
